@model SuperMarket_Models.Models.Customer
<!-- Our Dashbord -->
<div>
	<section class="our-dashbord dashbord">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xl-3 dn-md">
					<div class="extra-dashboard-menu">
						<h3 class="mb25 ttu fwb">My account</h3>
						<div class="ed_menu_list">
							<ul>
								<li><a href="page-dashboard.html">Dashboard</a></li>
								<li><a href="page-dashboard-order.html">Orders</a></li>
								<li><a href="page-dashboard-wish-list.html">Downloads</a></li>
								<li><a href="page-dashboard-address.html">Addresses</a></li>
								<li><a class="active" href="page-dashboard-account-details.html">Account Details</a></li>
								<li><a href="page-dashboard-wish-list.html">Wishlist</a></li>
								<li><a href="page-login.html">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="dashboard_navigationbar dn db-md mt50">
								<div class="dropdown">
									<button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
									<ul id="myDropdown" class="dropdown-content">
										<li><a href="page-dashboard.html">Dashboard</a></li>
										<li><a href="page-dashboard-order.html">Orders</a></li>
										<li><a href="page-dashboard-wish-list.html">Downloads</a></li>
										<li><a href="page-dashboard-address.html">Addresses</a></li>
										<li><a class="active" href="page-dashboard-account-details.html">Account Details</a></li>
										<li><a href="page-dashboard-wish-list.html">Wishlist</a></li>
										<li><a href="page-login.html">Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-9">
							<div class="row">
								<form method="post" asp-action="UpdateCustomer" enctype="multipart/form-data">
									<input type="text" asp-for="Id" value="@Model.Id" hidden>
									<div class="col-lg-12">
										<div class="form-group mb25">
											<label class="mb10 fz14 heading-color">Full Name</label>
											<input type="text" asp-for="FullName" class="form-control form_control" value="@Model.FullName">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group mb25">
											<input type="file" name="file" />
											<img class="pt-2" src="~/Images/274921743_536756477795635_5684064206547991241_n.jpg" />
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group mb25">
											<label class="mb10 fz14 heading-color">Address</label>
											<input type="text" asp-for="Address" class="form-control form_control" value="@Model.Address">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group mb60">
											<label class="mb10 fz14 heading-color">Email address </label>
											<input type="text" asp-for="Email" readonly class="form-control form_control" value="@Model.Email">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group mb60">
											<label class="mb10 fz14 heading-color">Phone number</label>
											<input type="text" asp-for="PhoneNumber" class="form-control form_control" value="@Model.PhoneNumber">
										</div>
									</div>
									<div class="col-xl-12 pt-8">
										<div class="form-group mb0">
											<button type="submit" id="Submitbtn" class="btn btn-thm update_btn">SAVE CHANGES</button>
											<a id="manage" class="btn btn-thm update_btn" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">Change Password</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrapper End -->
<script src="js/jquery-3.6.0.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mmenu.all.js"></script>
<script src="js/ace-responsive-menu.js"></script>
<script src="js/snackbar.min.js"></script>
<script src="js/simplebar.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scrollto.js"></script>
<script src="js/jquery-scrolltofixed-min.js"></script>
<script src="js/jquery.counterup.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/progressbar.js"></script>
<script src="js/slider.js"></script>
<script src="js/timepicker.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/dashboard-script.js"></script>
<!-- Custom script for all pages -->
<script src="js/script.js"></script>
