@using Newtonsoft.Json;
@using Org.BouncyCastle.Asn1.Ocsp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<Stock>;

<!-- Inner Page Breadcrumb -->
<div class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="breadcrumb_content">
					<h2 class="breadcrumb_title">Shop</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="#">Shop</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Listing Grid View -->

<div class="container">


	<br />

	<div class="row">
		<div class="col-xl-3 dn-lg">
			<div class="sidebar_listing_grid1 mb30">
				<div class="sidebar_listing_list">
					<div class="terms_condition_widget filter_sidebar pt0">
						<h4 class="title">PRODUCT CATEGORIES</h4>
						<div class="widget_list">
							<ul class="list_details">
								<li>
									<a asp-action="Index" asp-controller="Product" asp-area="Customer"> All Category </a>
								</li>
								@foreach (var cateitem in @ViewBag.categoryList)
								{
									<li>
										<a asp-action="Index" asp-controller="Product" asp-area="Customer" asp-route-cateId="@cateitem.CategoryId">
											@if (cateitem.CategoryImg != null)
											{
												<img style="width:20px;height:20px" src="@cateitem.CategoryImg"></img>
											}
											@cateitem.CategoryName
										</a>
									</li>
								}


							</ul>
						</div>
						<hr>
					</div>

					<div class="terms_condition_widget filter_sidebar">
						<h4 class="title">Filter by Price</h4>
						<div class="widget_list">
							<ul>
								<li onclick="changePrice(this)" data-price="0" data-check="ticked"><a class="btn">All Price</a></li>
								<li onclick="changePrice(this)" data-price="1" data-check=""><a class="btn">Less than :<span style="color:#86BC42;padding:2px;">   $20 </span></a></li>
								<li onclick="changePrice(this)" data-price="2" data-check=""><a class="btn">From :<span style="color:#86BC42;padding:2px;">   $20 - $49.99 </span></a></li>
								<li onclick="changePrice(this)" data-price="3" data-check=""><a class="btn">From :<span style="color:#86BC42;padding:2px;">   $50 - $99.99 </span> </a></li>
								<li onclick="changePrice(this)" data-price="4" data-check=""><a class="btn">Over :<span style="color:#86BC42;padding:2px;">   $100 </span> </a></li>
							</ul>
						</div>
						<hr>
					</div>
					<div class="terms_condition_widget filter_sidebar">
						<h4 class="title">Filter by Brand</h4>
						<div class="widget_list">
							<ul>
								<li onclick="changeBrand(this)" data-brand="0" data-check="ticked"><a class="btn"><span style="color:#86BC42;padding:2px;">All Brand</span></a></li>
								@foreach (var item in @ViewBag.brandList)
								{
									<li onclick="changeBrand(this)" data-brand="@item.BrandId" data-check=""><a class="btn"><span style="color:#86BC42;padding:2px;">Brand: @item.BrandName </span></a></li>
								}

							</ul>
						</div>
						<hr>
					</div>


				</div>
			</div>
		</div>
		<div class="col-xl-9">
			<div class="row">
				<div class="listing_filter_row dif db-767">
					<div class="col-md-4">
					</div>
					<div class="col-md-8">
						<div class="listing_list_style tac-767">
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="productContainer">
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="mbp_pagination mt10" id="default">
						<ul class="page_navigation">
							<li class="page-item">
								<a class="page-link previous" tabindex="-1" aria-disabled="true"> <span class="fa fa-arrow-left"></span></a>
							</li>
							<span id="listPagesContainer">

							</span>
							<li class="page-item">
								<a class="page-link next"><span class="fa fa-arrow-right"></span></a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script src="~/Asset/js/khang/Khangproduct.js"></script>
	<script>
		var model=@Html.Raw(JsonConvert.SerializeObject(@Model));
		 $(document).ready(function () {

        var stockData = model;
        //console.log(stockData);
        var productData = [];
        stockData.forEach(item => productData.push(item.Product))

        //console.log(productData);
        loaddata(productData);


    });
		//call
		 function changePrice(picker) {
            picker.setAttribute("class", "boder-chosen");
          let productdata=Price(picker, model);
			  loaddata(productdata);
		}
		 function changeBrand(picker) {
			picker.setAttribute("class", "boder-chosen");
			let productdata=Brand(picker, model);
             loaddata(productdata);
			}
  

	</script>
}
