@model Brand
@{
	ViewData["Title"] = "Update Brand";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<h3>@ViewData["Title"]</h3>
<div class="row">
	<div class="col-md-6">
		<p>@ViewBag.msg</p>
		<form id="profile-form" method="post" asp-action="UpdateBrand" onsubmit="return confirm('Are you sure to Update?')">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="BrandId" type="hidden" />
			<div class="form-floating">
				<label asp-for="BrandName" class="form-label"></label>
				<input asp-for="BrandName" class="form-control" />
			</div>
			<div class="form-floating">
				<label asp-for="Origin" class="form-label"></label>

				<input asp-for="Origin" class="form-control" />
			</div>
			<div class="form-floating">
				<label asp-for="Address" class="form-label"></label>

				<input asp-for="Address" class="form-control" />
			</div>
			<div class="form-floating">
				<label asp-for="Phone" class="form-label"></label>

				<input asp-for="Phone" class="form-control" />
			</div>
			<div class="form-floating">
				<label class="form-label">Category has chosen</label>
				<ul class="list-group">
					@foreach (Category item in @ViewBag.chosenCategory)
					{
						<li class="list-group-item disabled">@item.CategoryName</li>
					}
				</ul>
			</div>
			<div class="form-floating">
				<label class="form-label">Category</label>
				<select class="form-control selectpicker" name="CategoryId" asp-items="@ViewBag.categoryLeft" multiple data-live-search="true">
				</select>
			</div>
			<button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
