@using SuperMarket_Models.Models
@{
	  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	  
}
@model IEnumerable<Coupon>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

   <a asp-area="Admin" asp-controller="Coupon" asp-action="NewCoupon" > <button class="btn btn-danger">Create</button></a>
    <div class="container" style="margin:10px;">

        <table id="coupon" class="display" style="width:100%;">
        <thead>
            <tr>
                <th>Coupon Code</th>
                <th>Coupon Discount Percent</th>
                <th>Coupon Create Date</th>
                <th>Coupon Expired Date</th>
                <th>The Remaining Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
        {
             <tr>
                <td>@item.CouponCode</td>
                <td>@item.DiscountPercent %</td>
                <td>@item.CreatedDate</td>
                <td>@item.ExpiredDate</td>
                <td>@item.Count</td>
               
            </tr>
           
        }

        </tbody>
        <tfoot>
               <tr>
                <th>Coupon Code</th>
                <th>Coupon Discount Percent</th>
                <th>Coupon Create Date</th>
                <th>Coupon Expired Date</th>
                <th>The Remaining Amount</th>
            </tr>
        </tfoot>
    </table>

    </div>

	

@section Scripts
{
<script>
$(document).ready(function() {
        $('#coupon').DataTable();


})
//    $(document).ready(function () {
//    $('#example').DataTable();
//});



</script>

}