@using SuperMarket_Models.Models
@using SuperMarket_Utility

@model Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
<style>

    .blue {
        background-color: blue;
    }

    .green {
        background-color: green;
    }

</style>

<div class="container ">
    <div class="d-flex justify-content-around ">
        <div class="card red" style="width:40rem;">
            <div class="card-body">

                <ul class="list-group">
                    <h5 class="card-title">Customer Detail</h5>


                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="form-group">
                            <label class="control-label">Customer Name</label>
                            <p>@Model.Customer.FullName</p>

                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <label class="control-label">Phone Number</label>
                        <p>@Model.Customer.PhoneNumber</p>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <label class="control-label">Address</label>
                        <p> @Model.Address / @Model.City /@Model.Country</p>

                    </li>
                </ul>
            </div>

        </div>
        <div class="card red" style="width:40rem;">
            <div class="card-body">

                <ul class="list-group">
                    <h5 class="card-title">Customer Order</h5>
                    @if (@Model.OrderDetail != null)
                    {
                        @foreach (var item in @Model.OrderDetail)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>@item.Product.ProductName</span>
                                <span>@item.Product.Stock</span>
                                <span>@item.Product.ProductId</span>
                                <span>@item.Price.ToString("c")</span>

                            </li>
                        }
                    }


                    <li class=" d-flex justify-content-between align-items-center" style="margin:10px;color:midnightblue;">

                        <label class="control-label">Total Amount</label>
                        <span>@Model.OrderTotal.ToString("c")</span>

                    </li>

                </ul>

            </div>
            @if (@Model.OrderStatus == SD.StatusApproved)
            {
               <a><button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block" style="margin:10px"> Process Order</button></a>
            }
            else if (@Model.OrderStatus == SD.StatusInProcess)
            {
               <a> <button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block" style="margin:10px">Complete Order</button></a>
            }
            else if (@Model.OrderStatus == SD.StatusCancelRequest)
            {
               <a><button type="button" name="" id="" class="btn btn-danger" btn-lg btn-block" style="margin:10px">Refund Order</button></a>
            }
            else
            {
                <a><button type="button" name="" id="" class="btn btn-success" btn-lg btn-block" style="margin:10px">Back to List</button></a>
            }


        </div>

    </div>



</div>


