@model List<SuperMarket_Models.Models.ShoppingCart>





<a class="cart_btn" href="#"><span class="flaticon-shopping-cart icon"><span id="CartCount" class="badge bgc-thm">@ViewBag.CartCount</span></span> <span class="price">@ViewBag.totalCart.ToString("c")</span></a>
<input type="hidden" value="@ViewBag.cartId" id="cartIdGlobal" />
<ul class="dropdown_content" style="overflow:scroll">
    @foreach (var item in Model)
    {
        <li class="list_content">
            <a href="/Customer/Product/Details?id=@item.ProductId">
               @foreach (var image in item.Product.ImageProduct)
                {
                    if (image.IsMainImage)
                    {
                         <img class="float-start" src="@image.Url" alt="50x50">
                    }
                }
                <p>@item.Product.Title</p>
                <small>@item.Count x @item.Product.Price</small>
            </a>
        </li>
    }
        
    <li><h5>Subtotal: <span class="text-thm fw400 float-end">@ViewBag.totalCart.ToString("c")</span></h5></li>
    <li class="list_content" style="display:flex">
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-thm cart_btns">VIEW CART</a>
        <a asp-area="Customer" asp-controller="Cart" asp-action="CheckOut" class="btn btn-thm2 checkout_btns">CHECKOUT</a>
    </li>
</ul>

