@model IEnumerable<Product>
@{
	ViewData["Title"] = "Home Page";
}


<!-- Home Design -->
<section class="home-one mt0 bg-home1">
	<div class="container">
		<div class="row posr">
			<div class="col-lg-8 col-xl-6">
				<div class="home_content home1_style">
					<div class="home-text">
						<p class="fz14 fwb ttu text-thm2">All natural products.</p>
						<h2 class="fz60 ttu">
							<span class="text-thm2 fwb">Healthy Food</span> <br><span class="text-thm fw400">
								&
								Organic Market
							</span>
						</h2>
						<p class="fz16 text-thm2 dn-sm">
							<span class="fw700">Organic food</span> is food produced by methods that
							comply with the <br class="dn-520"> standards of organic farming.
						</p>
						<a class="btn btn-thm2" href="page-shop-list-v1.html">SHOP NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Top Category -->
<section class="top-category pb60">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="main-title text-center">
					<h2>Top Categories Of The Month</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="shop_item_8grid_slider nav_none dots_none">
					@foreach (Category item in @ViewBag.CategoryList)
					{
						<div class="item">
							<a href="page-shop-list-v6.html">
								<div class="iconbox">
									<div class="icon"><img src="@item.CategoryImg" alt="food-grocery.png"></div>
									<div class="details">
										<h5 class="title">@item.CategoryName</h5>
									</div>
								</div>
							</a>
						</div>
					}


				</div>
			</div>
		</div>
		@*<div class="row mt70">
		<div class="col-lg-8 col-xl-6">
		<div class="banner_one">
		<div class="thumb style1"><img src="images/banner/1.jpg" alt="1.jpg"></div>
		<div class="details">
		<p class="para">Fresh Fruit</p>
		<h2 class="title">Fresh Summer With Just $200.99</h2>
		<a href="page-shop-list-v1.html" class="shop_btn">SHOP NOW</a>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-xl-3">
		<div class="banner_one">
		<div class="thumb"><img src="images/banner/2.jpg" alt="2.jpg"></div>
		<div class="details style2">
		<p class="para">Seasonal Sale</p>
		<h2 class="title">Up To Breads <span class="text-thm2">50% Off</span></h2>
		<a href="page-shop-list-v1.html" class="shop_btn style2">SHOP NOW</a>
		</div>
		</div>
		</div>
		<div class="col-lg-6 col-xl-3">
		<div class="banner_one">
		<div class="thumb"><img src="images/banner/3.jpg" alt="3.jpg"></div>
		<div class="details style2">
		<p class="para">Tasty Healthy</p>
		<h2 class="title">Fresh <span class="text-thm2">Vegetables</span></h2>
		<a href="page-shop-list-v1.html" class="shop_btn style2">SHOP NOW</a>
		</div>
		</div>
		</div>
		</div>*@
	</div>
</section>

<!-- Featured Product  -->
<section class="featured-product pt0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="main-title text-center">
					<h2>Featured Products</h2>
				</div>
			</div>
		</div>


		@*start cate*@
		<div class="row">
			<div class="col-lg-12">
				<div class="popular_listing_sliders row">
					<!-- Nav tabs -->
					<div class="nav nav-tabs mb30 col-lg-12 justify-content-center" role="tablist">


						<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-All"
								role="tab" aria-controls="nav-home" aria-selected="true">
							All
						</button>
						@foreach (Category item in @ViewBag.categoryList)
						{
							<button class="nav-link" id="nav-tab-@item.CategoryName" data-bs-toggle="tab" data-bs-target="#nav-@item.CategoryName"
								role="tab" aria-controls="nav-@item.CategoryName" aria-selected="true">
								@item.CategoryName
							</button>
						}

					</div>
					<!-- Tab panes -->
					<div class="tab-content col-lg-12" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-All" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="popular_listing_slider1">
								@foreach (var data in Model)
								{
									<div class="item">
										<div class="shop_item">
											<div class="thumb">
												@foreach (var Image in data.ImageProduct)
												{
													if (Image.IsMainImage == true)
													{
														<img src="@Image.Url" alt="fp1.png">
													}
												}
												<div class="thumb_info">
													<ul class="mb0">
														<li><a href="page-dashboard-wish-list.html"><span class="flaticon-heart"></span></a></li>
														<li><a href="page-dashboard-wish-list.html"><span class="flaticon-search"></span></a></li>
														<li><a href="page-shop-list-v6.html"><span class="flaticon-shuffle"></span></a></li>
													</ul>
												</div>
											</div>
											<div class="details text-center">
												<div class="title">@data.Brand_Category.Category.CategoryName</div>
												<div class="review">
													<ul class="mb0">
														<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
														<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
														<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
														<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
														<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
													</ul>
												</div>
												<div class="sub_title">@data.ProductName <br> @data.Weight</div>
												<div class="si_footer">
													<div class="price">$@data.Price</div>
													<a href="page-shop-cart.html" class="cart_btn btn-thm">
														<span class="flaticon-shopping-cart mr10"></span>ADD TO CART
													</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>


						@*End all*@




						@foreach (Category item in @ViewBag.CategoryList)
						{


							<div class="tab-pane fade" id="nav-@item.CategoryName" role="tabpanel" aria-labelledby="nav-tab-@item.CategoryName">
								<div class="popular_listing_slider1">
									@foreach (var data in Model)
									{
										@if (data.Brand_Category.Category.CategoryName == item.CategoryName)
										{
											<div class="item">
												<div class="shop_item">
													<div class="thumb">
														@foreach (var Image in data.ImageProduct)
														{
															if (Image.IsMainImage == true)
															{
																<img src="@Image.Url" alt="fp1.png">

															}
														}
														<div class="thumb_info">
															<ul class="mb0">
																<li><a href="page-dashboard-wish-list.html"><span class="flaticon-heart"></span></a></li>
																<li><a href="page-dashboard-wish-list.html"><span class="flaticon-search"></span></a></li>
																<li><a href="page-shop-list-v6.html"><span class="flaticon-shuffle"></span></a></li>
															</ul>
														</div>
													</div>
													<div class="details text-center">
														<div class="title">@data.Brand_Category.Category.CategoryName</div>
														<div class="review">
															<ul class="mb0">
																<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
																<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
																<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
																<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
																<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
															</ul>
														</div>
														<div class="sub_title">@data.ProductName <br> @data.Weight</div>
														<div class="si_footer">
															<div class="price">$@data.Price</div>
															<a href="page-shop-cart.html" class="cart_btn btn-thm">
																<span class="flaticon-shopping-cart mr10"></span>ADD TO CART
															</a>
														</div>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>

						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@*end bread*@

<!-- Delivery Divider -->
<section class="deliver-divider pt0 pb70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="online_delivery text-center">
					<div class="delivery_bike"><img src="images/shop-items/delivery.png" alt="delivery.png"></div>
					<h3 class="title text-thm2">
						<span class="flaticon-whatsapp text-thm vam mr15"></span>WHATSAPP ORDERING
						SERVICE – PLACE YOUR ORDERS AT <span class="text-thm">392 96 32</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Delivery Divider -->
<section class="deliver-divider pt30 pb70">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-xl-6">
				<div class="main-title df db-414 tac-414 justify-content-center">
					<h2 class="">Deal of the Day</h2>
					<div class="deal_countdown">
						<ul class="deal_counter bgc-thm" id="timer">
							<li class="list-inline-item"><span class="title">Ends in:</span></li>
							<li class="list-inline-item hours"></li>
							<li class="list-inline-item"><span class="seperator">:</span></li>
							<li class="list-inline-item minutes"></li>
							<li class="list-inline-item"><span class="seperator">:</span></li>
							<li class="list-inline-item seconds"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="recent_property_slider_home1">
					<div class="item">
						<div class="shop_item style2">
							<div class="thumb">
								<img src="images/shop-items/d1.png" alt="d1.png">
							</div>
							<div class="details text-center">
								<div class="title">FRUITS</div>
								<div class="review">
									<ul class="mb0">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<div class="sub_title">Pineapple (Tropical Gold) <br> 1 lb</div>
								<div class="si_footer">
									<div class="price">$1.80</div>
									<div class="line mt25"></div>
									<div class="sell_stock mt20">
										<div class="sell float-start">Sold: <span class="fwb">20</span></div>
										<div class="stock float-end">Available: <span class="fwb">10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="shop_item style2">
							<div class="thumb">
								<img src="images/shop-items/d2.png" alt="d2.png">
							</div>
							<div class="details text-center">
								<div class="title">FRUITS</div>
								<div class="review">
									<ul class="mb0">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<div class="sub_title">Pineapple (Tropical Gold) <br> 1 lb</div>
								<div class="si_footer">
									<div class="price">$1.80</div>
									<div class="line mt25"></div>
									<div class="sell_stock mt20">
										<div class="sell float-start">Sold: <span class="fwb">20</span></div>
										<div class="stock float-end">Available: <span class="fwb">10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="shop_item style2">
							<div class="thumb">
								<img src="images/shop-items/d3.png" alt="d3.png">
							</div>
							<div class="details text-center">
								<div class="title">FRUITS</div>
								<div class="review">
									<ul class="mb0">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<div class="sub_title">Pineapple (Tropical Gold) <br> 1 lb</div>
								<div class="si_footer">
									<div class="price">$1.80</div>
									<div class="line mt25"></div>
									<div class="sell_stock mt20">
										<div class="sell float-start">Sold: <span class="fwb">20</span></div>
										<div class="stock float-end">Available: <span class="fwb">10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="shop_item style2">
							<div class="thumb">
								<img src="images/shop-items/d4.png" alt="d4.png">
							</div>
							<div class="details text-center">
								<div class="title">FRUITS</div>
								<div class="review">
									<ul class="mb0">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<div class="sub_title">Pineapple (Tropical Gold) <br> 1 lb</div>
								<div class="si_footer">
									<div class="price">$1.80</div>
									<div class="line mt25"></div>
									<div class="sell_stock mt20">
										<div class="sell float-start">Sold: <span class="fwb">20</span></div>
										<div class="stock float-end">Available: <span class="fwb">10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="shop_item style2">
							<div class="thumb">
								<img src="images/shop-items/d1.png" alt="d1.png">
							</div>
							<div class="details text-center">
								<div class="title">FRUITS</div>
								<div class="review">
									<ul class="mb0">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul>
								</div>
								<div class="sub_title">Pineapple (Tropical Gold) <br> 1 lb</div>
								<div class="si_footer">
									<div class="price">$1.80</div>
									<div class="line mt25"></div>
									<div class="sell_stock mt20">
										<div class="sell float-start">Sold: <span class="fwb">20</span></div>
										<div class="stock float-end">Available: <span class="fwb">10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Delivery Divider -->
<section class="deliver-divider bg-img1">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-6">
				<div class="juice_divider_content">
					<p class="sub_title">Orange Juice</p>
					<h2 class="title text-thm2">For Human <br class="dn db-lg dn-sm"> Health</h2>
					<p class="para">
						Organic food is food produced by methods that comply with the standards of organic
						farming. Standards vary worldwide, but organic farming in general features.
					</p>
					<a href="page-shop-list-v1.html" class="btn btn-thm dc_btn">GO SHOP</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Our Partner & Blog -->
<section class="our-blog pt0 pb60">
	<div class="container">
		<div class="partner_divider">
			<div class="row">
				<div class="col">
					<div class="partner_item">
						<img src="images/partners/1.png" alt="1.png">
					</div>
				</div>
				<div class="col">
					<div class="partner_item">
						<img src="images/partners/2.png" alt="2.png">
					</div>
				</div>
				<div class="col">
					<div class="partner_item">
						<img src="images/partners/3.png" alt="3.png">
					</div>
				</div>
				<div class="col">
					<div class="partner_item">
						<img src="images/partners/4.png" alt="4.png">
					</div>
				</div>
				<div class="col">
					<div class="partner_item">
						<img src="images/partners/5.png" alt="5.png">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="main-title text-center">
					<h2>Our Blog</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="for_blog">
					<div class="thumb">
						<div class="post_time"><span class="mont">APRIL</span><br><span class="date">08</span></div>
						<img class="img-whp" src="images/blog/1.jpg" alt="1.jpg">
					</div>
					<div class="details">
						<div class="tc_content">
							<div class="tag bgc-thm">
								<a class="text-white" href="page-blog-details.html">LIFE STYLE, FARM</a>
							</div>
							<h4 class="title">How To Make A Fresh Juice Blended For Your <br> Family?</h4>
							<div class="bp_meta">
								<ul>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-user fz15 mr10"></span> By Admin
										</a>
									</li>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-chat fz15 mr10"></span> 16 Comments
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="for_blog">
					<div class="thumb">
						<div class="post_time"><span class="mont">APRIL</span><br><span class="date">08</span></div>
						<img class="img-whp" src="images/blog/2.jpg" alt="2.jpg">
					</div>
					<div class="details">
						<div class="tc_content">
							<div class="tag bgc-thm">
								<a class="text-white" href="page-blog-details.html">LIFE STYLE, FARM</a>
							</div>
							<h4 class="title">Creative Water Features And Exterior <br> Design</h4>
							<div class="bp_meta">
								<ul>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-user fz15 mr10"></span> By Admin
										</a>
									</li>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-chat fz15 mr10"></span> 16 Comments
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="for_blog">
					<div class="thumb">
						<div class="post_time"><span class="mont">APRIL</span><br><span class="date">08</span></div>
						<img class="img-whp" src="images/blog/3.jpg" alt="3.jpg">
					</div>
					<div class="details">
						<div class="tc_content">
							<div class="tag bgc-thm">
								<a class="text-white" href="page-blog-details.html">LIFE STYLE, FARM</a>
							</div>
							<h4 class="title">What are organic? All You Need to <br> Know</h4>
							<div class="bp_meta">
								<ul>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-user fz15 mr10"></span> By Admin
										</a>
									</li>
									<li class="list-inline-item">
										<a href="page-blog-details.html">
											<span class="flaticon-chat fz15 mr10"></span> 16 Comments
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- How It Works -->
<section class="whychose_us pt0 pb0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="main-title text-center">
					<h2>Why choose us</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div class="icon"> <img src="images/why-chose/1.png" alt="1.png"> </div>
					<div class="details">
						<h4 class="title">We drive fast & ship faster</h4>
						<p>Sed semper convallis ultricies. Aliqua erat vol esent friday ngilla augue.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div class="icon"> <img src="images/why-chose/2.png" alt="2.png"> </div>
					<div class="details">
						<h4 class="title">We save your more money</h4>
						<p>Sed semper convallis ultricies. Aliqua erat vol esent friday ngilla augue.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="why_chose_us home1_style">
					<div class="icon"> <img src="images/why-chose/3.png" alt="3.png"> </div>
					<div class="details">
						<h4 class="title">Daily discount coupons</h4>
						<p>Sed semper convallis ultricies. Aliqua erat vol esent friday ngilla augue.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Instagram Posts -->
<section class="instagram-posts pt0 pb80">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3">
				<div class="main-title text-center">
					<h2>Follow me on instagram</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="instagram_slider">
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta1.jpg" alt="lg1.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta1.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta2.jpg" alt="insta2.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta2.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta3.jpg" alt="insta3.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta3.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta4.jpg" alt="insta4.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta4.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta5.jpg" alt="insta5.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta5.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="gallery_item">
							<img class="img-fluid img-circle-rounded w100" src="images/blog/insta1.jpg" alt="insta1.jpg">
							<div class="gallery_overlay">
								<a class="icon popup-img" href="images/blog/insta1.jpg">
									<span class="fab fa-instagram"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


